/* Slider Setup */

input[type=radio] {
  display: none;
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }
#slide6:checked ~ #slides .inner { margin-left:-500%; }
#slide7:checked ~ #slides .inner { margin-left:-600%; }
#slide8:checked ~ #slides .inner { margin-left:-700%; }

#overflow {
  width: 100%;
  overflow: hidden;
}

article img {
  width: 100%;
  border-radius: 5px;
}

#slides .inner p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
}

#slides .inner {
  width: 800%;
  line-height: 0;
}

#slides article {
  width: 12.5%;
  float: left;
}

/* Slider Styling */

label { cursor: pointer; }

/* Control Setup */

#controls {
  margin: -50% 0 0 0;
  width: 100%;
  height: 50px;
}

#controls label { 
  display: none;
  width: 26px;
  height: 65px;
  opacity: 0.3;
}

#active {
  margin: 43% 0 0;
  text-align: center;
}

#active label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
}

#active label:hover {
  background: #ccc;
  border-color: #777 !important;
}

#controls label:hover {
  opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5),
#slide6:checked ~ #controls label:nth-child(7),
#slide7:checked ~ #controls label:nth-child(8),
#slide8:checked ~ #controls label:nth-child(1),
#slide5:checked ~ #controls label:nth-child(6) {
  background: url('../img/right-arrow.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}


#slide1:checked ~ #controls label:nth-child(8),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide6:checked ~ #controls label:nth-child(5),
#slide7:checked ~ #controls label:nth-child(6),
#slide8:checked ~ #controls label:nth-child(7),
#slide5:checked ~ #controls label:nth-child(4) {
  background: url('../img/left-arrow.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide6:checked ~ #active label:nth-child(6),
#slide7:checked ~ #active label:nth-child(7),
#slide8:checked ~ #active label:nth-child(8),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important;
}

/* Info Box */

.info {
  line-height: 20px;
  margin: 0 0 -150%;
  position: absolute;
  font-style: italic;
  padding: 30px 30px;
  opacity: 0;
  color: #000;
  text-align: left;
}

.info h3 {
  color: #333;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
}

/* Animation */

#slides .inner {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#controls label{
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
/* Responsive Styling */

/* Tablet */

#tablet:checked ~ #slider #controls {
  margin: -25% 0 0 12%;
  width: 76%;
  height: 50px;
}

#tablet:checked ~ #slider #controls label {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

#tablet:checked  ~ #slider #slides, #mobile:checked  ~ #slider #slides {
  padding: 1% 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#tablet:checked ~ #slider #active {
  margin: 22% 0 0;
}

@media only screen and (max-width: 850px) and (min-width: 450px) {

  #slider #controls {
    margin: -25% 0 0 15%;
    width: 70%;
    height: 50px;
  }

  #slider #controls label {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  #slider #slides {
    padding: 1% 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  #slider #active {
    margin: 22% 0 0;
  }

}

/* Mobile */

#mobile:checked ~ #slider #controls {
  margin: -28% 0 0 24%;
  width: 50%;
  height: 50px;
}

#mobile:checked ~ #slider #active {
  margin: 23% 0 0;
}

#mobile:checked ~ #slider #slides .info {
  opacity: 0 !important;
}

#mobile:checked ~ #slider #controls label {
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}


@media only screen and (max-width: 450px) {

  #slider #controls {
    margin: -28% 0 0 24%;
    width: 50%;
    height: 50px;
  }

  #slider #active {
    margin: 23% 0 0;
  }

  #slider #slides {
    padding: 1% 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  #slider #slides .info {
    opacity: 0 !important;
  }

  #slider #controls label {
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

}