/* CSS Styles */
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'Lato', 'Helvetica Neue', Verdana, Geneva, sans-serif; }

header { background: url(../img/intro-bg.jpg) no-repeat center center; position: relative; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
header strong { font-weight: 900; display: block; color: #646464; font-family: 'Lato', 'Helvetica Neue', sans-serif; font-size: 120px; padding-top: 65px; }
header strong span { color: #eb4450; font-weight: 900; font-size: 86px; position: relative; top: -50px; margin-right: 5px; }
header p { color: #646464; font-size: 40px; margin-bottom: 1.5em; margin-top: 0.3em; }
header p.darker { color: #3f3f3f; margin-bottom: 2.3em; }
header p a { color: #525252; }
header p a:hover,
header p a:focus { color: #444; }
header div.me { padding-top: 30px; height: 100%; right: 0; }
header div.me img { max-width: 100%; height: auto; }

header p,
header p.darker,
h2 {
	font-family: 'Lato', 'Helvetica Neue', sans-serif;
	font-weight: 900;
}
h2 { padding: 1em 0 .8em 0; font-size: 42px; text-align: center; text-transform: uppercase; }
h2:after { content: ' '; display: block; width: 60px; margin: 0 auto; padding-top: 20px; border-bottom: 3px solid rgba(0,0,0, 0.3); }
div.centered { float: none; margin: 0 auto; }
section { padding: 2em 0 5em 0; }
p.left { text-align: left; }
p.right { text-align: right; }

main { padding: 3.2em 0; background-color: #eb4450; }
main h1 { text-align: center; line-height: 1.385; color: #FFF; font-size: 40px; font-weight: 400; }

#skills h3 { font-size: 40px; font-weight: normal; }
#skills h3:after { content: ' '; display: block; width: 60px; padding-top: 20px; border-bottom: 3px solid rgba(0,0,0, 0.3) }
#skills ul { list-style: none; padding-left: 0; width: 100%; }
#skills ul.skills { padding-top: 0px; margin-top: 0; }
#skills ul.skills li { line-height: 50px; }
#skills ul.skills li strong { font-size: 22px; font-weight: 300; }
#skills ul.skills li span { display: block; line-height: 14px; color: #a1a1a1; font-size: 14px; font-weight: bold; }
#skills h4 { font-size: 36px; margin-top: 0; margin-bottom: 0; padding-bottom: 10px; color: #494949; font-weight: normal; }
#skills ul.iCan li { padding-left: 40px; margin-bottom: 22px; line-height: 1.5em; color: #737373; font-size: 18px; }
#skills ul.iCan li:before { content: '\f00c'; color: #838383; font-family: FontAwesome; display: inline-block; width: 40px; margin-left: -40px; }
#skills ul.iCan li strong {  }
#skills p { color: #737373; font-size: 18px; padding-top: 10px; padding-left: 40px; }
#skills a.btn { float: right; display: inline-block; border-radius: 4px; background-color: #f5f5f5; padding: 0.5em 1em 0.6em 1em; color: #646464; -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
#skills a.btn:hover { text-decoration: none; }
#skills a.btn.dribbble:hover { background-color: #EA4C89; color: #FFF; }
#skills a.btn.github:hover { background-color: #555; color: #FFF; }
#skills a.btn i { font-size: 42px; float: left; display: block; padding-top: 5px; }
#skills a.btn span { font-size: 12px; margin-left: 50px; text-align: left; padding-top: 5px; display: block; text-transform: uppercase; line-height: 12px; }
#skills a.btn strong { font-size: 28px; margin-left: 50px; display: block; line-height: 36px; }
#skills div.counter p { text-align: center; font-size: 16px; color: #737373; padding: 3em 0 0em 0; }
#skills div.curly { line-height: 100%; font-family: 'Lato', sans-serif; color: #737373; font-weight: 100; font-size: 200px; vertical-align: middle !important; }

#bring { background: #2980b9; }
#bring h2 { color: #FFF; }
#bring ul { padding-left: 0; list-style: none; }
#bring ul li { padding-left: 40px; margin-bottom: 22px; line-height: 1.5em; color: #e9eff4; font-size: 20px; }
#bring ul li:before { content: '\f00c'; color: #e9eff4; font-family: FontAwesome; display: inline-block; width: 40px; margin-left: -40px; }

#recommendations ul { list-style: none; padding-left: 0; }
#recommendations ul li { display: block; margin-bottom: 30px; }
#recommendations ul li img { float: left; padding-top: 10px; }
#recommendations ul li cite { display: block; margin-left: 160px; margin-bottom: 10px; color: #5b5b5b; font-style: normal; font-size: 18px; }
#recommendations ul li strong {  }
#recommendations ul li q { display: block; margin-left: 160px; border-left: none; font-size: 18px; color: #5b5b5b; line-height: 30px; }  

#cv { background: #6b9f7d; }
#cv h2 { color: #FFF; margin-bottom: 1em; }
#cv a.btn { display: block; margin: 0 auto; text-align: center; white-space: normal; font-size: 18px; padding: 1.7em 0 1.8em 0; font-weight: 500; background: #eff7f3; color: #345c45; border-radius: 5px; text-transform: uppercase; }
#cv a.btn:hover { background: #FFF; }
#cv span { display: block; margin-bottom: 3em; text-align: center; color: #99d0ac; font-size: 12px; padding-top: .8em; }

#projects h3 { font-size: 30px; text-align: center; padding-bottom: 20px; font-weight: 700; }

#awards { background: #1abc9c; }
#awards h2 { color: #FFF; padding-bottom: 1em; }
#awards div { text-align: center; }
#awards div img { }
#awards div h3 { color: #555; margin-bottom: 0; font-size: 14px; font-weight: normal; }
#awards div h3 strong { font-weight: bold; }
#awards div span { font-size: 12px; color: #555; }
#awards div .dark .tooltip-content { color: #FFF; font-size: 18px; }

#hobby { text-align: center; }
#hobby img { max-width: 100%; height: auto; }
#hobby h3 { font-size: 16px; color: #6b6b6b; text-transform: uppercase; font-weight: bold; }
#hobby p { font-size: 14px; color: #ababab; text-align: center; margin-top: 2em; }

#why { background-color: #EB7F00; }
#why h2 { color: #FFF; }
#why p { font-size: 24px; line-height: 42px; color: #FFF; }
#why ul { list-style: none; padding-left: 0; }
#why ul li { margin-top: 40px;  }
#why ul li a.rank { display: block; -ms-transform: rotate(10deg); -webkit-transform: rotate(10deg); transform: rotate(10deg); font-size: 11px; margin-top: 10px; font-weight: bold; text-decoration: none; text-align: center; color: #555; background-color: #ebe9e8; width: 80px; padding-top: 25px; padding-bottom: 25px; border-radius: 50%; -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
#why ul li a.rank:hover { text-decoration: none; -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); background-color: #FFF }
#why ul li span { color: #FFF; font-size: 18px; }
#why ul li strong { color: #FFF; font-weight: normal; font-size: 12px; }
#why ul li h3 { margin-top: 0; margin-bottom: 0; color: #FFF; line-height: 1.3; font-size: 24px; font-weight: normal; }
#why ul li h3 strong { margin-top: 0; font-size: 24px; color: #FFF; line-height: 1.3; font-weight: bold; }
#why ul li h4 { color: #F4F4F4; margin-top: 0.5em; margin-bottom: 0; font-weight: bold; font-size: 16px; }
#why ul li ul { margin-top: 20px; }
#why ul li ul li { margin-top: 0; line-height: 1.8; color: #f7f3ed; }
#why ul li img { padding-top: 20px; }
#why ul li a { opacity: 0.9; -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
#why ul li a:hover { opacity: 1; text-decoration: none; } 

#cta { padding: 0; min-height: 950px; }
#cta #large { position: relative; width: 100%; min-height: 950px; background: #333; overflow: hidden; background-size: cover; background-position: center center; z-index: 1;}
#cta canvas { min-height: 950px; }
#cta .container { text-align: center; position: absolute; margin: 0; padding: 0; top: 50%; left: 50%; z-index: 999; -webkit-transform: translate3d(-50%,-50%,0); transform: translate3d(-50%,-50%,0); }
#cta .animated-bg #large { background-image: url('../img/cta-bg.jpg'); }
#cta ul.social { list-style: none; width: 430px; margin-left: auto; margin-right: auto; padding-left: 0; padding-top: 100px; background: url(../img/social.png) center center no-repeat; }
#cta ul.social li { float: left; margin-left: 30px; border-radius: 50%; border: 2px solid #FFF; }
#cta ul.social li:first-child { float: left; margin-left: 0; }
#cta ul.social li a { cursor: pointer; display: block; padding: 15px; }
#cta ul.social li i { color: #FFF; width: 1em; }
#cta ul.social li,
#cta ul.social li a,
#cta ul.social li i,
#cta a.btn { -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
#cta ul.social li:hover { float: left; border-radius: 50%; border: 2px dashed #FFF; }
#cta ul.social li a:hover { cursor: pointer; display: block; padding: 15px; }
#cta ul.social li i:hover { color: #FFF; width: 1em; }
#cta h3 { clear: both; color: #FFF; padding-top: 40px; font-size: 36px; font-weight: normal; line-height: 1.5; }
#cta a.btn { border-radius: 4px; display: block; margin-top: 20px; background-color: #27ae60; text-align: center; cursor: pointer; }
#cta a.btn:hover,
#cta a.btn:focus { text-decoration: none; background-color: #29b564; }
#cta a.btn span { display: inline-block; padding: 0.7em 10% 0.7em 10%;  border-bottom: 1px solid #21a257; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #def0e6; }
#cta a.btn:hover span { color: #FFF; }
#cta a.btn strong { display: inline-block; color: #F4F4F4; font-size: 24px; padding: 0.7em 10% 0.8em 10%; font-weight: bold; }
#cta a.btn:hover strong { color: #FFF; }
#cta p { text-transform: uppercase; font-size: 14px; color: #939393; padding-top: 50px; }
#cta p strong { text-transform: uppercase; font-size: 14px; color: #bebebe; }
#cta .fb-like,
#cta .twitter-share-button { float: right; }

#subscribe { background-color: #272727; }
#subscribe h2 { color: #868686; margin-bottom: 0; padding-bottom: 0.2em; }
#subscribe h2:after { content: none; padding-top: 0; }
#subscribe h3 { color: #F4F4F4; margin-top: 0; font-weight: normal; text-align: center; font-size: 24px; text-transform: uppercase; }
#subscribe form { display: block; width: 80%; margin: 0 auto; padding-top: 30px; padding-bottom: 30px; }
#subscribe form label { display: block; color: #929292; font-size: 14px; }
#subscribe form input[type=email] { width: 100%; display: block; border:0; font-size: 18px; height: 55px; background-color: #d2d2d2; padding: 0.5em 1em 0.4em 1em; }
#subscribe form input[type=email]:focus { background-color: #F4F4F4; }
#subscribe form input[type=submit] { width: 100%; display: block; color: #ededed; border:0; background: #0c0c0c; height: 55px; font-size: 18px; padding: 0.5em 1em 0.4em 1em; }
#subscribe form input[type=submit]:hover { color: #FFF; }
#subscribe form small { display: block; padding-top: 5px; font-size: 12px; color: #929292; }
#subscribe form strong { font-weight: bold; }
#subscribe #mce-responses { color: #FFF; }

@media (min-width : 768px) { 
	div.me img { position: absolute; bottom: 0; right: 0; }
	div.row.meRow { position: relative }
	header div.me { position: absolute }
}

/* Mobile devices */
@media (max-width : 768px) {
	#awards div { min-height: 200px; }
	header { text-align: center; }

	#recommendations ul { list-style: none; padding-left: 20px; padding-right: 20px; }
	#recommendations ul li { display: block; margin-bottom: 30px; border-bottom: 1px solid #d7d7d7; padding-bottom: 20px; }
	#recommendations ul li:last-child { border-bottom: 0; }
	#recommendations ul li img { float: none; display: block; margin: 0 auto; padding-bottom: 10px; }
	#recommendations ul li cite { display: block; margin-left: 0px; margin-bottom: 10px; color: #5b5b5b; font-style: normal; font-size: 18px; }
	#recommendations ul li q { display: block; margin-left: 0px; border-left: none; font-size: 16px; color: #5b5b5b; line-height: 30px; }  
	
	#cta {}
	#cta ul.social { list-style: none; margin-left: auto; margin-right: auto; padding-left: 0; padding-top: 50px; background: none; }
	#cta ul.social li { float: left; display: inline-block; width: 65px; border-radius: 50%; margin-left: 1em; border: 2px solid #FFF; }
	#cta ul.social li:first-child { margin-left: 1.5em; }
	#cta ul.social li a { cursor: pointer; display: block; padding: 15px; }
	#cta p { text-align: center; }
	#cta h3 { margin-top: 0px; }
	#cta .twitter-share-button { float: none; }
}

/* Bigger than mobile */
@media (min-width: 768px) { 

	#skills .skilla { display: table; }
	#skills .skilla [class*="col-"] {
	    float: none;
	    display: table-cell;
	    vertical-align: top;
	}
	#skills .skilla .col-sm-7 { padding-top: 60px; }
}